{% extends 'base.html' %} {% block body %}
<h2>Web Form Template</h2>
<hr />
<main>
  <form action="/add" method="POST">
    <p>
      <label for="first-name">First Name:</label>
      <input type="text" id="first-name" name="name" />
    </p>

    <p>
      <label for="outdoor-activity">
        Favorite Outdoor Activity:
        <select name="activity" id="outdoor-activity">
          <option value="" selected>Choose one ...</option>
          <option value="Biking">Biking</option>
          <option value="Hiking">Hiking</option>
          <option value="Fishing">Fishing</option>
          <option value="Camping">Camping</option>
        </select>
      </label>
    </p>
    <p>
      <label>Do you exercise outside?</label>
      <label for="read-yes">
        <input type="radio" id="read-yes" name="exercise" value="yes" /> Yes
      </label>

      <label for="read-no">
        <input type="radio" id="read-no" name="exercise" value="no" /> No
      </label>
    </p>

    <fieldset>
      <legend>Choose your favorite environment</legend>
      <label for="for-mountains">
        <input
          type="checkbox"
          id="for-mountains"
          name="location"
          value="mountains"
        />
        Mountains
      </label>

      <label for="for-ocean">
        <input
          type="checkbox"
          id="for-ocean"
          name="location"
          value="ocean"
        />
        Ocean
      </label>

      <label for="for-forrest">
        <input
          type="checkbox"
          id="for-forrest"
          name="location"
          value="forrest"
        />
        Forrest
      </label>
    </fieldset>

    <p><input type="submit" id="submit" value="Submit" /></p>
  </form>

  <br /><br />
  {% if friends %}
  <h3>Friend List</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Favorite Activity</th>
        <th>Exercise for Fun</th>
        <th>Favorite Location</th>
      </tr>
    </thead>

    <tbody>
      {% for friend in friends %}
      <tr>
        <td>{{ friend.name }}</td>
        <td>{{ friend.activity }}</td>
        <td>{{ friend.exercise }}</td>
        <td>{{ friend.location }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}
