{% extends 'base.html' %} {% block body %}
<h2>Add a book to my library</h2>
<hr />
<main>
  <form action="/add" method="POST">
    <p>
      <label for="book-title">Title:</label>
      <input type="text" id="book-title" name="title" />
    </p>
    <p>
      <label for="book-author">Author:</label>
      <input type="text" id="book-author" name="author" />
    </p>
    <p>
      <label for="book-pages">Pages:</label>
      <input type="text" id="book-pages" name="pages" />
    </p>

    <p>
      <label>Classification:</label>
      <label for="type-fiction">
        <input type="radio" id="type-fiction" name="Classification" value="fiction" /> fiction
      </label>

      <label for="type-nonfiction">
        <input type="radio" id="type-nonfiction" name="Classification" value="non-fiction" /> non-fiction
      </label>
    </p>

    <fieldset>
      <legend>Details:</legend>
      <label for="for-own">
        <input
          type="checkbox"
          id="for-own"
          name="details"
          value="own"
        />
        I own this book
      </label>

      <label for="for-read">
        <input
          type="checkbox"
          id="for-read"
          name="details"
          value="read"
        />
        I've read this book
      </label>

      <label for="for-liked">
        <input
          type="checkbox"
          id="for-liked"
          name="details"
          value="liked"
        />
        I liked this book
      </label>

      <label for="for-recommend">
        <input
          type="checkbox"
          id="for-recommend"
          name="details"
          value="recommend"
        />
        I would recommend this book to others 
      </label>

      <p>
        <label for="get-book">
          How did I get this book?
          <select name="procure" id="get-book">
            <option value="" selected>- Select option -</option>
            <option value="purchase">I purcahsed it.</option>
            <option value="gift">It was a gift.</option>
            <option value="library">I checked it out from the library.</option>
            <option value="loan">A friend loaned it to me.</option>
          </select>
        </label>
      </p>
    </fieldset>

    <p><input type="submit" id="submit" value="Add Book" /></p>
  </form>

  <br /><br />
  {% if friends %}
  <h3>Friend List</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>classification</th>
        <th>Details</th>
        <th>Procurement</th>
      </tr>
    </thead>

    <tbody>
      {% for friend in friends %}
      <tr>
        <td>{{ friend.title }}</td>
        <td>{{ friend.author }}</td>
        <td>{{ friend.pages }}</td>
        <td>{{ friend.Classification }}</td>
        <td>{{ friend.details }}</td>
        <td>{{ friend.procure }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}
